In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Crime_Data_Statewise.csv')
df.head()

,STATE_UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,30,1131,16,149,34,175,0,181,1518,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,69,1543,7,118,24,154,0,270,754,4125
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,38,2088,14,112,83,186,0,404,1262,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,23,795,17,126,38,57,0,233,1181,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,41,1244,12,109,58,247,0,431,2313,6507

In [4]:
df.shape

(9017, 33)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9017 entries, 0 to 9016
Data columns (total 33 columns):
STATE_UT                                               9017 non-null object
DISTRICT                                               9017 non-null object
YEAR                                                   9017 non-null int64
MURDER                                                 9017 non-null int64
ATTEMPT TO MURDER                                      9017 non-null int64
CULPABLE HOMICIDE NOT AMOUNTING TO MURDER              9017 non-null int64
RAPE                                                   9017 non-null int64
CUSTODIAL RAPE                                         9017 non-null int64
OTHER RAPE                                             9017 non-null int64
KIDNAPPING & ABDUCTION                                 9017 non-null int64
KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS            9017 non-null int64
KIDNAPPING AND ABDUCTION OF OTHERS                     9017 non-null int64
DACOITY                                                9017 non-null int64
PREPARATION AND ASSEMBLY FOR DACOITY                   9017 non-null int64
ROBBERY                                                9017 non-null int64
BURGLARY                                               9017 non-null int64
THEFT                                                  9017 non-null int64
AUTO THEFT                                             9017 non-null int64
OTHER THEFT                                            9017 non-null int64
RIOTS                                                  9017 non-null int64
CRIMINAL BREACH OF TRUST                               9017 non-null int64
CHEATING                                               9017 non-null int64
COUNTERFIETING                                         9017 non-null int64
ARSON                                                  9017 non-null int64
HURT/GREVIOUS HURT                                     9017 non-null int64
DOWRY DEATHS                                           9017 non-null int64
ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY    9017 non-null int64
INSULT TO MODESTY OF WOMEN                             9017 non-null int64
CRUELTY BY HUSBAND OR HIS RELATIVES                    9017 non-null int64
IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES            9017 non-null int64
CAUSING DEATH BY NEGLIGENCE                            9017 non-null int64
OTHER IPC CRIMES                                       9017 non-null int64
TOTAL IPC CRIMES                                       9017 non-null int64
dtypes: int64(31), object(2)
memory usage: 2.2+ MB

In [8]:
df.describe()

,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS,KIDNAPPING AND ABDUCTION OF OTHERS,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
count,9017.000000,9017.00000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,...,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000
mean,2006.629034,89.28535,78.069646,9.895531,53.041366,0.005767,53.035599,79.152046,58.535433,20.616613,...,25.219918,747.893091,20.228901,100.511257,27.515582,194.122435,0.197849,222.216702,2174.299434,5310.115116
std,3.463623,327.27503,303.446020,59.521657,190.741450,0.115223,190.725474,317.630964,246.937464,88.586415,...,98.880282,3024.106467,96.970466,394.059436,167.237522,831.986594,2.415039,936.002540,7988.438462,18524.381119
min,2001.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2004.000000,18.00000,10.000000,0.000000,8.000000,0.000000,8.000000,10.000000,6.000000,1.000000,...,2.000000,43.000000,1.000000,10.000000,0.000000,11.000000,0.000000,5.000000,265.000000,853.000000
50%,2007.000000,38.00000,28.000000,2.000000,20.000000,0.000000,20.000000,25.000000,18.000000,5.000000,...,8.000000,199.000000,5.000000,31.000000,2.000000,47.000000,0.000000,68.000000,745.000000,2096.000000
75%,2010.000000,66.00000,56.000000,6.000000,41.000000,0.000000,41.000000,56.000000,42.000000,13.000000,...,20.000000,529.000000,16.000000,76.000000,13.000000,135.000000,0.000000,177.000000,1608.000000,3972.000000
max,2012.000000,7601.00000,7964.000000,1616.000000,3425.000000,5.000000,3425.000000,8878.000000,7910.000000,2416.000000,...,2830.000000,56768.000000,2322.000000,7118.000000,4970.000000,19865.000000,83.000000,16076.000000,124176.000000,220335.000000

In [21]:
state = df.STATE_UT=='PUNJAB'
murder = df.MURDER

df [state & murder].head()

,STATE_UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
472,PUNJAB,BARNALA,2001,15,29,1,12,0,12,16,...,5,71,6,13,0,24,0,51,134,501
474,PUNJAB,BHATINDA,2001,25,38,3,13,0,13,15,...,0,242,4,15,0,57,0,3,295,1080
480,PUNJAB,HOSHIARPUR,2001,47,30,0,19,0,19,20,...,7,257,12,13,0,46,0,158,265,1237
481,PUNJAB,JAGRAON,2001,27,33,1,19,0,19,19,...,2,105,7,3,2,27,0,60,151,633
484,PUNJAB,KHANNA,2001,17,17,2,6,0,6,4,...,2,76,4,0,0,15,0,88,127,486

In [23]:
state = df.STATE_UT=='PUNJAB'
year = df.YEAR==2005

df [state & year].head()

,STATE_UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
3379,PUNJAB,AMRITSAR,2005,47,28,4,5,0,5,20,...,0,114,2,6,0,44,0,79,372,1124
3380,PUNJAB,BARNALA,2005,11,12,2,11,0,11,2,...,1,73,3,11,0,12,0,44,134,473
3381,PUNJAB,BATALA,2005,22,30,1,24,0,24,18,...,0,136,7,7,0,34,0,58,478,1085
3382,PUNJAB,BHATINDA,2005,45,52,73,30,0,30,37,...,5,214,2,23,1,45,0,5,441,1547
3383,PUNJAB,FARIDKOT,2005,17,36,1,6,0,6,10,...,0,125,1,10,0,9,0,0,172,579

In [39]:
state1 = df.STATE_UT=='BIHAR'
state2 = df.STATE_UT=='PUNJAB'
year1 = df.YEAR==2011
year2 = df.YEAR==2012
rape1 = df.RAPE

In [46]:
df[(state1 | state2) & year1]

STATE_UT                                               74
DISTRICT                                               74
YEAR                                                   74
MURDER                                                 74
ATTEMPT TO MURDER                                      74
CULPABLE HOMICIDE NOT AMOUNTING TO MURDER              74
RAPE                                                   74
CUSTODIAL RAPE                                         74
OTHER RAPE                                             74
KIDNAPPING & ABDUCTION                                 74
KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS            74
KIDNAPPING AND ABDUCTION OF OTHERS                     74
DACOITY                                                74
PREPARATION AND ASSEMBLY FOR DACOITY                   74
ROBBERY                                                74
BURGLARY                                               74
THEFT                                                  74
AUTO THEFT                                             74
OTHER THEFT                                            74
RIOTS                                                  74
CRIMINAL BREACH OF TRUST                               74
CHEATING                                               74
COUNTERFIETING                                         74
ARSON                                                  74
HURT/GREVIOUS HURT                                     74
DOWRY DEATHS                                           74
ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY    74
INSULT TO MODESTY OF WOMEN                             74
CRUELTY BY HUSBAND OR HIS RELATIVES                    74
IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES            74
CAUSING DEATH BY NEGLIGENCE                            74
OTHER IPC CRIMES                                       74
TOTAL IPC CRIMES                                       74
dtype: int64

In [45]:
df[(state1 | state2) & (year1 | year2)].count()

STATE_UT                                               148
DISTRICT                                               148
YEAR                                                   148
MURDER                                                 148
ATTEMPT TO MURDER                                      148
CULPABLE HOMICIDE NOT AMOUNTING TO MURDER              148
RAPE                                                   148
CUSTODIAL RAPE                                         148
OTHER RAPE                                             148
KIDNAPPING & ABDUCTION                                 148
KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS            148
KIDNAPPING AND ABDUCTION OF OTHERS                     148
DACOITY                                                148
PREPARATION AND ASSEMBLY FOR DACOITY                   148
ROBBERY                                                148
BURGLARY                                               148
THEFT                                                  148
AUTO THEFT                                             148
OTHER THEFT                                            148
RIOTS                                                  148
CRIMINAL BREACH OF TRUST                               148
CHEATING                                               148
COUNTERFIETING                                         148
ARSON                                                  148
HURT/GREVIOUS HURT                                     148
DOWRY DEATHS                                           148
ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY    148
INSULT TO MODESTY OF WOMEN                             148
CRUELTY BY HUSBAND OR HIS RELATIVES                    148
IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES            148
CAUSING DEATH BY NEGLIGENCE                            148
OTHER IPC CRIMES                                       148
TOTAL IPC CRIMES                                       148
dtype: int64

In [47]:
df.head(1)

,STATE_UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,30,1131,16,149,34,175,0,181,1518,4154

In [98]:
abc = df.loc[ :, ['STATE_UT', 'DISTRICT','YEAR','MURDER']]

abc[abc.STATE_UT=='PUNJAB']

def1 = (abc.STATE_UT=='PUNJAB') & (abc.MURDER)

pb = abc.STATE_UT=='PUNJAB'
md = abc.MURDER

dl = abc[pb & md]

     STATE_UT         DISTRICT  YEAR  MURDER
472    PUNJAB          BARNALA  2001      15
474    PUNJAB         BHATINDA  2001      25
480    PUNJAB       HOSHIARPUR  2001      47
481    PUNJAB          JAGRAON  2001      27
484    PUNJAB           KHANNA  2001      17
487    PUNJAB            MANSA  2001      25
488    PUNJAB             MOGA  2001      23
489    PUNJAB          MUKTSAR  2001      19
490    PUNJAB      NAWAN SHAHR  2001      17
494    PUNJAB       TARN TARAN  2001      37
1188   PUNJAB         AMRITSAR  2002      51
1194   PUNJAB        FEROZEPUR  2002      39
1195   PUNJAB            G.R.P  2002       5
1197   PUNJAB       HOSHIARPUR  2002      31
1198   PUNJAB          JAGRAON  2002      15
1199   PUNJAB        JALANDHAR  2002      59
1201   PUNJAB           KHANNA  2002      21
1204   PUNJAB            MANSA  2002      25
1205   PUNJAB             MOGA  2002      27
1209   PUNJAB            ROPAR  2002      27
1211   PUNJAB       TARN TARAN  2002      51
1212   PUNJAB            TOTAL  2002     733
1917   PUNJAB         AMRITSAR  2003      49
1920   PUNJAB         BHATINDA  2003      51
1922   PUNJAB  FATEHGARH SAHIB  2003      11
1923   PUNJAB        FEROZEPUR  2003      51
1925   PUNJAB        GURDASPUR  2003      23
1927   PUNJAB          JAGRAON  2003      23
1928   PUNJAB        JALANDHAR  2003      55
1933   PUNJAB            MANSA  2003      17
...       ...              ...   ...     ...
7941   PUNJAB         FARIDKOT  2011      17
7942   PUNJAB  FATEHGARH SAHIB  2011      13
7944   PUNJAB         FEROZPUR  2011      31
7947   PUNJAB       HOSHIARPUR  2011      51
7948   PUNJAB        JALANDHAR  2011      41
7949   PUNJAB       KAPURTHALA  2011      33
7950   PUNJAB           KHANNA  2011      17
7956   PUNJAB          PATIALA  2011      47
7959   PUNJAB          SAS NGR  2011      31
7961   PUNJAB       TARN TARAN  2011      47
8737   PUNJAB           BATALA  2012      19
8738   PUNJAB         BHATINDA  2012      53
8741   PUNJAB      CP LUDHIANA  2012      79
8743   PUNJAB  FATEHGARH SAHIB  2012      17
8744   PUNJAB          FAZILKA  2012      37
8745   PUNJAB         FEROZPUR  2012      37
8746   PUNJAB            G.R.P  2012       5
8747   PUNJAB        GURDASPUR  2012      19
8748   PUNJAB       HOSHIARPUR  2012      45
8749   PUNJAB  JALANDHAR RURAL  2012      49
8752   PUNJAB   LUDHIANA RURAL  2012      25
8753   PUNJAB            MANSA  2012      15
8754   PUNJAB             MOGA  2012      37
8755   PUNJAB          MUKTSAR  2012      25
8756   PUNJAB        PATHANKOT  2012      11
8757   PUNJAB          PATIALA  2012      53
8759   PUNJAB          SANGRUR  2012      41
8761   PUNJAB        SBS NAGAR  2012      19
8762   PUNJAB       TARN TARAN  2012      41
8763   PUNJAB            TOTAL  2012     855

[172 rows x 4 columns]